@model MovieViewModel 
@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="input-group mb-3">
        <input id="txtSearch" type="text" class="form-control" placeholder="Search Movies" aria-label="Search Movies" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="btnSearch" type="button">Search</button>
  </div>
</div>
<br />

    <div class="card-group" id="MainCard"> 
        @foreach (var movies in Model.movies)
        {
            <div class="card m-3" style="min-width:18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@movies.Title</h3>
                </div>
                <img src="@movies.PhotoPath" class="card-img-top img-thumbnail">
            </div>
        }    
        
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function(){
          $("#btnSearch").click(function(){
                var txtSearch = $("#txtSearch");

                $.ajax({
                    type:'GET',
                    url: '@Url.Action("Search","Movie")',
                    data:{
                        SearchMovies: txtSearch.val()
                    }
                }).done(function(response){
                    $("#MainCard").html(response);
                }).fail(function(data){
                    alert("Search Function failed");
                
                });
          });
        });
    </script>
}